body {
    text-align: center;
    background: url("cloud.jpg");
    min-height: 100%;
    overflow: hidden;
}

#box {
    background-color: #FFFFFF;
    color: #ff525a;
    min-height: 10%;
    font-size: 150%;
    margin: 0 auto;
    max-width:50%;
    border: 1px solid #a1dbe9;
    border-radius:5px;
    font-family:"Special Elite", cursive;
    padding: 3%;
    position:relative;
    margin-bottom:100px;
    margin-top:100px;
}

#box::before
{
    content:"When...";
    font-family:"Arizonia", cursive;
    text-shadow: 1px 1px 1px #333;
    font-size:200%;
    position:absolute;
    top:-80px;
    left:-20px;
}

#box::after
{
    content:"...Sparks fly!";
    font-family:"Arizonia", cursive;
    text-shadow: 1px 1px 1px #333;
    font-size:200%;
    position:absolute;
    bottom:-60px;
    right:-30px;
}

#generate {
    font-size: 200%;
    font-family:"Special Elite", cursive;
    padding:5px 10px;
    color: #ff525a;
    background-color: #FFFFFF;
    border: 3px solid #a1dbe9;
    margin-bottom: 25px;
    cursor: pointer; 
    cursor: hand;
}

#options {
    color: #ff525a;
    background-color: #FFFFFF;
    border: 3px solid #a1dbe9;
    margin: auto;
    display: table;
}

.about {
    color:  #157599;
    font-size:64px;
    font-family: "Arizonia", cursive;
    font-size 110%;
    margin: auto;
    display: table;
    cursor: pointer; 
    cursor: hand;
}

a {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #9f061e;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #157599;
	opacity: 0.75;
    z-index: 10;
}

#about_card {
    font-size: 150%;
    margin: 5%;
    color: #ff525a;
    background-color: #FFFFFF;
    border: 3px solid #a1dbe9;
    font-family: "Special Elite", cursive;
    padding: 5%;
    position: relative;
    z-index: 11;
    top: -500px;
}

#about_card .about {
    background-color: #FFFFFF;
}

.genre-title
{
    font-size:48px;
    font-family: "Arizonia", cursive;
    text-shadow: 1px 1px 1px #333;
    margin:0 auto;
    color:#ff525a;
}

.genre-list
{
    list-style:none;
    max-width:50%;
    margin:0 auto;
    background:#FFFFFF;
    border: 1px solid #a1dbe9;
    border-radius:5px;
    padding:5px 10px;
}

.genre-list li
{
    display:inline-block;
    width:196px;
    color:#ff525a;
    font-family:"Special Elite", cursive;
    font-size:24px;
}
